body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.search {
  display: flex;
  align-items: center;
  /* position: relative; */
}

#searchInput {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1;
}

#categoryFilter {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}
#categoryFilter option {
  background-color: #fff;
  color: rgb(59, 139, 205);
  font-size: 14px;
}

#categoryFilter option:hover {
  background-color: #ddd;
}

.searchbutton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(59, 139, 205);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchbutton:hover {
  background-color: #0a77d1;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.content {
  max-width: 800px;
  margin: 20px auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center the items horizontally */
}

.product {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  margin-top: 15px;
  text-align: center;
}

.prod-title {
  font-size: 1.2em;
  margin: 0;
}

.price,
.discount,
.category,
.stock {
  margin: 5px 0;
}

.details {
  margin-top: 15px;
  text-align: center;
}

button {
  justify-content: center;
  padding: 20px;
}

/* Apply the glow-on-hover styles to the button */
.glow-on-hover {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
